/*CSS DOCUMENT*/


html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;	padding: 0;	border: 0;	vertical-align: baseline;} /*My edited version of the Eric Meyer’s reset tool. Feel free to keep it or delete it. */

img {
    width: 100%; /*Please leave this line.*/
}

body{
  background-color: rgb(245, 243, 238);
}

h1{
  font-family: "Novecento Sans",sans-serif;
  font-size: 25pt;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 0.25em;
  text-align: left;
  color: rgb(207,98,81);
}

h2{
  font-family: "Novecento Sans",sans-serif;
  padding-left: 1em;
  padding-bottom: 1em;
  font-weight: lighter;
  font-style: italic;
  text-align: left;
  color: rgb(128,104,84)
}

figcaption{
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  font-family: "Novecento Sans", sans-serif;
  color:rgb(128,104,84);
  font-style: italic;
  text-align: center;
  background-color:rgb(245, 243, 238);
}

h3{
  color: rgb(207,98,35);
  font-family: "Novecento Sans",sans-serif;
  font-size: 20pt;
  padding-bottom: 0.25em;
}

ul{
  list-style-type: circle;
  padding-left: 1em;
}

ol{
  list-style-type: inherit;
  padding-left: 1em;
}

.ingredients{
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  background-color: rgb(245,243,238);
}

.directions{
  padding-left: 1em;
  padding-top: 1em;
  padding-bottom: 2em;
}

footer{
  padding-left: 1em;
  padding-top: 1em;
  padding-bottom: 2em;
  text-align: left;
  font-style: italic;
}
/*By the way, when we use the slash-asterisk combo, it’s a comment on the CSS and it’s meant for human beings. The machine knows it is not supposed to process anything until it finds a asterisk-slash combo that ends the comment on the CSS. */
